@charset "UTF-8";
/* 文字コードの指定 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
  position: relative;
  min-height: 100%;
  color: #696969;
  background-color: #f0fff0;
}
@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
    background-image: url("../img/bg/bg01.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
}

a {
  text-decoration: none;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.header {
  width: 100%;
}
@media (min-width: 769px) {
  .header {
    display: none;
  }
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
  height: 25rem;
  background-image: url("../img/bg/bg01.jpg");
  background-position: center center;
  background-size: cover;
}
@media (min-width: 769px) {
  .cover {
    padding-top: 0;
    background-image: none;
  }
}

.creator-u {
  width: 100%;
  font-size: 2.2rem;
  color: #006400;
  text-align: start;
}
@media (min-width: 769px) {
  .creator-u {
    font-size: 3rem;
  }
}

.sub-title {
  margin: 0;
  padding: 0;
  text-align: end;
  font-size: 1rem;
  font-weight: 500;
  color: #696969;
}
@media (min-width: 769px) {
  .sub-title {
    font-size: 1.6rem;
  }
}

.title {
  margin: -1rem 0 -0.5rem 0;
  padding: 0;
  font-size: 3rem;
  font-weight: bold;
  color: #008080;
}
@media (min-width: 769px) {
  .title {
    margin: -3rem 0 -2rem 0;
    font-size: 6rem;
  }
}
.title span {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}
@media (min-width: 769px) {
  .title span {
    font-size: 3rem;
  }
}

main {
  padding: 0 0 4rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem;
}
@media (min-width: 769px) {
  .content {
    padding: 3rem 3rem 0;
    margin: 9rem 15rem 5rem;
    background-color: #f0fff0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 769px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.detail {
  width: 100%;
}
@media (min-width: 769px) {
  .detail {
    width: calc(100% / 2);
  }
}

@media (min-width: 769px) {
  .nogrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.nodetail {
  width: 100%;
}

@media (min-width: 1100px) {
  .contact-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media (min-width: 1100px) {
  .contact-left {
    width: 70%;
  }
}

@media (min-width: 1100px) {
  .contact-right {
    width: 30%;
  }
}

.menu-title {
  display: inline-block;
  padding: 0 0 1rem 0;
  margin: 0 0 3rem 0;
  color: #006400;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 0.2rem solid #006400;
}
@media (min-width: 769px) {
  .menu-title {
    font-size: 2.6rem;
  }
}

.menu-sub-title {
  margin: 0 0 2rem 0;
  color: #2f4f4f;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 769px) {
  .menu-sub-title {
    font-size: 2.2rem;
    margin: 0 2rem 3rem 0;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2rem 2rem;
}
.item span {
  font-weight: bold;
}
.item a {
  color: #696969;
}
@media (min-width: 769px) {
  .item {
    display: block;
    margin: 0 3rem 3rem;
  }
}

.item-s {
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}
@media (min-width: 769px) {
  .item-s {
    font-size: 1.4rem;
  }
}

.twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.twitter a {
  color: #696969;
}
.twitter-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #00ccff;
  border-radius: 50%;
  margin: 0 1rem 0 0;
}
.twitter-logo a {
  color: #ffffff;
  font-size: 1.4rem;
}

.mm {
  font-size: 1.2rem;
}
@media (min-width: 769px) {
  .mm {
    font-size: 1.4rem;
  }
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.line-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14rem;
  margin: 3rem 0;
  border-radius: 3px;
  background-color: #00ff00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.line-button a {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
}
@media (min-width: 769px) {
  .line-button a {
    font-size: 1.8rrem;
  }
}

.cs-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin: 0 0 3rem;
  border-radius: 10px;
  background-color: #1e90ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cs-button a {
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
}
@media (min-width: 769px) {
  .cs-button a {
    font-size: 1.8rem;
  }
}

@media (min-width: 769px) {
  .cs-button:hover {
    background-color: #00ced1;
  }
}

.hosoku {
  margin: 0 2rem 3rem;
}
@media (min-width: 769px) {
  .hosoku {
    margin: 0 6rem 3rem;
  }
}

.process-img {
  margin-top: 1rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
}
@media (min-width: 769px) {
  .nav {
    position: static;
  }
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% / 5);
  height: 4rem;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  background-color: #696969;
  border: 0.1rem solid #f0fff0;
}
.nav-item a {
  color: #f0fff0;
  width: 100%;
  text-align: center;
}
@media (min-width: 769px) {
  .nav-item a {
    font-size: 1.8rem;
  }
}

.pc-nav {
  display: none;
}
@media (min-width: 769px) {
  .pc-nav {
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
}

@media (min-width: 769px) {
  .nav-item:hover {
    background-color: #008080;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4rem;
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  color: #f0fff0;
  background-color: #696969;
}

.news {
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 2rem 5rem;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 769px) {
  .news {
    margin: 2rem 15rem 0;
    padding: 1rem 6rem;
  }
}

.oshirase {
  font-weight: 600;
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
}
@media (min-width: 769px) {
  .oshirase {
    font-size: 1.8rem;
  }
}

.news-contents {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}
@media (min-width: 769px) {
  .news-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    margin-top: 1.5rem;
  }
}

.date {
  margin: 0;
  color: #000000;
  font-size: 1.4rem;
}
@media (min-width: 769px) {
  .date {
    margin-right: 2rem;
    font-size: 1.6rem;
  }
}

.news-item {
  font-size: 1.4rem;
}
.news-item a {
  color: #696969;
}
@media (min-width: 769px) {
  .news-item {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */